@charset "UTF-8";

div.sub {
    margin-left: 15px;
}

canvas {
    position: absolute;
    top: 40%;
    left: 40%;

    border: 1px solid black;
    display: inline-block;
}

#saved {
    color: green;
    display: inline;
}